<div class="container">
  <div class="contact-wrapper">
    <div>
      <div>
        <div class="address">
          <div class="icon"></div>
          <div class="info">Tierra Dulce, White Road, Inayawan,<br> Cebu City, Philippines, 6000</div>
        </div>
        <div class="phone-number">
          <div class="icon"></div>
          <div class="info">+63 999 881 3531</div>
        </div>
        <div class="email">
          <div class="icon"></div>
          <div class="info">geraldine.bacang@gmail.com</div>
        </div>
      </div>
      <div class="social-media">
        <div class="icon" id="facebook"></div>
        <div class="icon" id="instagram"></div>
        <div class="icon" id="linkedin"></div>
        <div class="icon" id="github"></div>
      </div>
    </div>
    <div>
      <ngui-map center="10.3157, 123.8854">
        <marker [position]="position"></marker>
      </ngui-map>
    </div>
  </div>
</div>
