<div class="container">
  <div>
    <div>
      <label>PHP / MySQL</label>
      <label>JavaScript / <br>Jquery / ES6 / <br>TypeScript</label>
      <label>HTML / CSS / <br>SASS</label>
      <div class="chart-container">
        <canvas baseChart
          [data]="data"
          [labels]="labels"
          [chartType]="type"
          [legend]="false"
          [colors]="colors"
          [options]="options"></canvas>

      </div>
    </div>
  </div>
  <div>
    <label>Other Skills:</label>
    <div>
      <label>Angular 4</label>
      <div>
        <div class="percentage"></div>
      </div>
    </div>
    <div>
      <label>Python</label>
      <div>
        <div class="percentage"></div>
      </div>
    </div>
    <div>
      <label>Git</label>
      <div>
        <div class="percentage"></div>
      </div>
    </div>
    <div>
      <label>C#</label>
      <div>
        <div class="percentage"></div>
      </div>
    </div>
    <div>
      <label>Choregraphe</label>
      <div>
        <div class="percentage"></div>
      </div>
    </div>
    <div>
      <label>Adobe Illustrator, Photoshop, <br>Experience Design</label>
      <div>
        <div class="percentage"></div>
      </div>
    </div>
    <div>
      <label>Firebase</label>
      <div>
        <div class="percentage"></div>
      </div>
    </div>
    <div>
      <label>Atom, Sublime, Visual Studio Code</label>
      <div>
        <div class="percentage"></div>
      </div>
    </div>
  </div>

</div>
